<!doctype html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} CV</title>
  <link href="media/{{ site.style }}-screen.css" type="text/css" rel="stylesheet" media="screen">
  <link href="media/{{ site.style }}-print.css" type="text/css" rel="stylesheet" media="print">
</head>
<body>
  <div id="main">
    <img src="profilo.jpeg" alt="Alexandru Podgoreanu" class="profile-image" style="
        height: 100px;
        margin-left: 50px;
        float: left;
        margin-right: -200px;
        border-radius: 50%;
    ">
    <div id="content">
    {{ content }}
    </div>
  </div>
</body>
</html>